.region-content {
  margin-bottom: 4rem;
  a {
    &.external {
      .glyphicon-new-window {
        font-variant: super;
        font-size: smaller;
        margin-left: .3em;
      }
    }
  }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .page-header {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
@media (max-width: @screen-md-min) {
  
  h1, .h1,
  h1.page-header {
    font-size: @font-size-h1 * 0.75;
  }
  h2, .h2 {
    font-size: @font-size-h2 * 0.75;
  }
  h3, .h3 {
    font-size: @font-size-h3 * 0.75;
  }
}
@media (max-width: @screen-sm-min) {
  
  h1, .h1,
  h1.page-header {
    font-size: @font-size-h1 * 0.65;
  }
  h2, .h2 {
    font-size: @font-size-h2 * 0.70;
  }
}
.main-container {
  background-color: #fff;
}
.lead {
  margin-bottom: @line-height-computed;
  font-size: (@font-size-base + 2);
  font-weight: normal;
  @media (min-width: @screen-sm-min) {
    font-size: (@font-size-base + 2);
  }
}

blockquote {
  color: @gray-dark;
}

// Styling for inline images
figure {
  display: inline-block;
  max-width: 100%;
  width: auto;
  height: auto;
  .caption,
  figcaption {
    background-color: @brand-info;
    padding: @thumbnail-caption-padding;
    color: @thumbnail-caption-color;
  }
}

.dnd-widget-wrapper {
  display: inline-block;
  margin-bottom: 2rem;
  &.atom-align-center {
    display: table;
  }
  &.atom-align-left {
    margin-right: 2rem;
  }
  &.atom-align-right {
    margin-left: 2rem;
  }
  .dnd-atom-rendered img {
    width:100%;
  }
  .dnd-caption-wrapper {
    background-color: @brand-info;
    padding: @thumbnail-caption-padding;
    color: @thumbnail-caption-color;
    p {
      margin-bottom:0;
    }
  }
  &.context-file_representation {
    display: inline;
    margin: 0;
    padding: 0;
    .dnd-atom-rendered {
      display: inline;
      img {
        width: auto;
      }
    }
  }
}

.atom-align-right {
/*  margin-left: 20px; */
}

.atom-align-left {
/*  margin-right: 20px; */
}


/* iframe, */

.dnd-legend-wrapper, .field-name-scald-authors {
}

.dnd-atom-wrapper.type-video {
  width: 100%; 
  .dnd-drop-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}

.context-small_262px_20.dnd-atom-wrapper.type-video {
  width: 262px;
}

.context-medium_360px_30.dnd-atom-wrapper.type-video {
  width: 360px;
} 

.context-large_585px_50.dnd-atom-wrapper.type-video {
  width: 585px;
} 

.context-extra_large_750px_70.dnd-atom-wrapper.type-video {
/* width: 750px; */
} 

@media screen and (min-width: 0px) and (max-width: 479px) {
  .dnd-atom-wrapper.type-video {
    width: 100% !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .context-small_262px_20.dnd-atom-wrapper.type-video,
  .context-medium_360px_30.dnd-atom-wrapper.type-video {
    width: 262px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .context-small_262px_20.dnd-atom-wrapper.type-video,
  .context-medium_360px_30.dnd-atom-wrapper.type-video {
    width: 262px !important;
  }
}
