#footer{
  background-color: @gray-dark;
  color: #fff;
  a{
    color: #fff;
  }
  .nav li{
    a{
      color: #fff;
      &:hover,
      &:focus{
        background:0;
        text-decoration: underline;
      }
    }
  }
}
.region-footer-top{
  margin-bottom: 2em;
}