#toolbar{
  background-color: @gray-darker;
  .btn-group{
    margin: .5rem 0;
    .btn{
      .button-variant(#fff; @gray-dark; @gray-darker);
      &:last-child{
        border-bottom-right-radius:8px;
      }
    }
    a{
      color: #fff;
    }
  }
}
.navbar-default{
  .navbar-brand{
    padding: 5px 15px;
    color: #fff;
    img{
      display: inline-block;
    }
  }
  .navbar-toggle{
    border: 0;
    padding: 0;
    margin-bottom: 2px;
    margin-top: 0;
    color: #fff;
    &:hover{
      background: transparent;
    }
    .icon-bar{
      border-radius: 4px;
      height: 3px;
      width: 28px;
      background: #fff;
      margin: 0 auto 4px;
    }
    small{
      font-size: 11px;
    }
    &.searchbar-toggle{
      font-size: 20px;
      padding: 0 5px;
      margin-top: 16px
    }
  }
  // Remove styling of the panel used to enable toggling of search and menu
  .panel {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    .box-shadow(0 0 0 transparent);
  }
  .navbar-nav {
    > li.active-trail {
      > a {
        background-color: @brand-primary;
      }
    }
  }
}
#branding{
  background-color: #fff;
  > .container{
    display: table;
    .logo img{
      padding: 2rem 0;
    }
    .sitename{
      font-size: @font-size-h2;
      font-weight: bold;
    }
    > div{
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
}
@media (max-width: @screen-sm-min) {
  ol.breadcrumb .active {
    display: none;
  }
}