// Additional variables
@brand-highlight:          #73afb6;
@brand-primary-light:      lighten(@brand-primary, 60%);
@brand-info-light:         lighten(@brand-info, 30%);

// By default links should be underlined
p a,
blockquote a,
.well a {
  text-decoration: underline;
  &.btn {
    text-decoration: none;
  }
}

// Images
img {
  max-width: 100%;
}
.thumbnail {
  img {
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}

// Handle defined lists
dt {
  font-weight: lighter;
}
// .dl-horizontal in narrow panels
.col-sm-4,
.col-sm-5,
.col-md-4,
.col-md-5{
  .dl-horizontal {
    dt{
      width: 30%;
    }
    dd{
      margin-left: 34%;
    }
    @media (max-width: @screen-md-min) {
      dt{
        width: 100%;
        float: none;
        text-align: left;
      }
      dd{
        width: 100%;
        float: none;
        margin-left: 0;
      }
    }
  }
}
.dl-horizontal {
  dt{
    text-align: left;
  }
}