/*
 * @file Styles which are only for logged in users
 *
 * Do not try and use variables.less variables
*/
// Admin menu display
#navbar-administration.navbar-oriented .navbar-tray-vertical {
  width: 24rem;
}
body.navbar-tray-open.navbar-vertical.navbar-fixed {
  margin-left: 24rem;
  .container {
    max-width: 100%;
  }
}
a.edit-mini-panel-link {
  &:visited,
  &:link {
    background-color: #a3a3a3;
    border-color: #333;
    font-size: 0.8em;
    margin: 0 auto;
    padding: 0.2em 1em;
  }
}
#modal-content {
  overflow-x: scroll;
}