// wcg_bootstrap variables
@import "../../wcg_bootstrap/less/type.less";
@import "../../wcg_bootstrap/less/variables.less";

// this theme's variable overrides
@import "variables-overrides.less";

// wcg_bootstrap bootstrap.less
@import '../../wcg_bootstrap/less/bootstrap.less';


// Base-theme overrides from wcg_bootstrap.
@import '../../wcg_bootstrap/less/overrides.less';
@import '../../wcg_bootstrap/less/content.less';

// Theme specific.
@import 'custom.less';

body {
  background-color: transparent;
  padding: 10px;
}