h1 {
  &.page-header {
    border-bottom: 0;
  }
}

// Navbar
#navbar {
  margin-bottom: 0;
}

// Override Bootstrap panel element display
.panel {
  border: 0;
  .box-shadow(0 1px 1px rgba(0,0,0,.1));
}

// add panel style for aqua tourism block
.panel-highlight {
 .panel-variant(none; #fff; @brand-highlight; none)
}

.row-spacing{
	padding-bottom:30px;
	margin-bottom:30px;
}

// Float action tabs to the right
.tabs--primary {
  position: absolute;
  right: 0;
  top: 35px;
  // Primary tabs
  &.nav-pills {
    a {
      .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
    }
  }
}

// 5 column grid
.col-lg-2-4 {
  .make-lg-column(2.4);
}
.col-md-2-4 {
  .make-md-column(2.4);
}
.col-sm-2-4 {
  .make-sm-column(2.4);
}

// Add a well variants
.well {
  &.well-info,
  &.well-success,
  &.well-primary {
    border: darken(@well-bg, 7%);
    color: #fff;
    a {
      color:#fff;
    }
  }
  &.well-primary {
    background-color: @brand-primary;
  }
  &.well-success {
    background-color: @brand-success;
  }
  &.well-info {
    background-color: @brand-info;
  }
}
